{% block nav %}
<footer class="footer">
<div class="row">
            <div class="col-lg-5">
                <p>Ce site, fictif est inspiré du jeu "Life Is Strange".</p>
            </div>
			
            <div class="col-lg-4">
			<p>images et textes :</p>
      <ul>
        <li><a href="https://life-is-strange.fandom.com/wiki/Life_is_Strange_Wiki">Life is Strange Wiki (souce traduite)</a></li>
      <ul>
            </div>
            <div class="col-lg-3">
              <p><a href="{{path('cgu')}}"><i class="fa fa-info-circle"></i>Conditions Générales d'Utilisation</a></p>
            </div>
        </div>
  
</footer>
{% endblock %}
