{% extends "base.html.twig" %}

{% block body %}

<body>
	{% include ('modele/header.html.twig') %}



	<section>

		<h2>Les Options</h2>

		<h3>Le pôle art : </h3>
		<div class="row">
			<div class="col-lg-4 text-center"><img loading="lazy" src="./images/options/art.png" alt="art" height="200px" /></div>

			<div class="col-lg-8" id="options">
				<p>Photographie, dessin, Cinéma, théâtre, Ce pôle variés vous permettra de vous faire découvrir les
					métiers en lien avec l’art</p>
			</div>
		</div>
		<table class="table table-striped">
			<caption>Taux de reussite du pôle</caption>
			<tr>
				<th>Année</th>
				<th>% de réussite</th>
			</tr>
			<tr>
				<td>2012</td>
				<td>91%</td>
			</tr>
			<tr>
				<td>2011</td>
				<td>93%</td>
			</tr>
		</table>
		
		<h3>Le pôle scientifique : </h3>
		<div class="row">
			<div class="col-lg-4 text-center"><img loading="lazy"src="./images/options/sciences.png" alt="sciences"
					height="200px" />
			</div>
			<div class="col-lg-8" id="options">
				<p>Archéologie, Astronomie, biologie, Ce pôle tout autant variés vous permettra de vous faire découvrir
					les
					métiers en lien avec la science</p>
			</div>
		</div>


		<table class="table table-striped">
			<caption>Taux de reussite du pôle</caption>
			<tr>
				<th>Année</th>
				<th>% de réussite</th>
			</tr>
			<tr>
				<td>2012</td>
				<td>90%</td>
			</tr>
			<tr>
				<td>2011</td>
				<td>94%</td>
			</tr>
		</table>

	</section>

	{% include ('modele/foot.html.twig') %}

</body>

{% endblock %}