{% extends "base.html.twig" %}
{% block body %}

<body>
        {% include ('modele/header.html.twig') %}



    <section>

        <h2>Informations Légales</h2>


    </section>

    {% include ('modele/foot.html.twig') %}
</body>

{% endblock %}