{% extends "base.html.twig" %}

{% block body %}

<body>
    {% include ('modele/header.html.twig') %}


    <section>

        <h2>visite de l'établissement</h2>

        <h3>L’académie</h3>

        <div class="text-center">

            <img loading="lazy" class="rounded" src="./images/visite/academie/campus.png" alt="campus" width="100%" />
        </div>

        <p>Depuis plus de 100 ans, la Blackwell Academy est une oasis universitaire pour les arts et les sciences. 
            Elle regroupe divers étudiants du monde entier qui cherchent à changer le monde et leur communauté.</p>

        <p>Blackwell Academy est un lycée <span>situé à Arcadia Bay</span>, dans l'Oregon. L'école se spécialise dans les sciences 
            et les arts et est actuellement supervisée par son directeur, Raymond Wells.</p>

        <p>En 1910, Jeremiah Blackwell fonda l'académie, cherchant l'excellence parmi le corps étudiant. La statue de
            Jeremiah se trouve à l'avant du bâtiment et porte la devise "L'avenir a besoin de l'excellence".</p>

        <p>Blackwell appartient en partie à la famille Prescott et est financée par elle. En 1998, ils ont fait don du
            bâtiment du dortoir à Blackwell.</p>

        <h3>Le couloir </h3>

        <div class="text-center">

            <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/hall.png" alt="hall" /">
            <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/couloir_casiers.png" alt="couloir_casiers" />

        </div>

        <p>Le couloir de la Blackwell Academy relie deux salles de classe, deux toilettes séparés pour garçons et 
            filles, le bureau de Wells, la sortie menant à l'entrée principale de la Blackwell Academy et des portes 
            donnant sur d'autres espaces intérieurs de l'académie.</p>

        <h3>Le bureau du principal</h3>

        <div class="row">
            <div class="col-lg">
                <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/bureau_wells.png" alt="bureau_wells" />
            </div>

            <div class="col-lg">
                <p>Le bureau du principal Wells est le bureau du directeur actuel de la Blackwell Academy, Ray Wells.</p>
             </div>
        </div>

        <h3>Le laboratoire sciences</h3>

        <div class="row">
            <div class="col-lg">
                <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/classes/salle_sciences.png" alt="salle_sciences" />    
            </div>
            <div class="col-lg">
                <p>Le Science Lab, également appelé Science Classroom, est l'un des quatre principaux laboratoires de la
                    Blackwell Academy. Il est équipé de matériel de chimie et de biologie. Michelle Grant enseigne les sciences
                    aux étudiants de Blackwell dans ce laboratoire.</p>
            </div>
        </div>

        <h3>Le laboratoire de photographie</h3>

         <div class="row">
            <div class="col-lg">

                <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/classes/salle_art.png"alt="salle_art" />

        </div>

            <div class="col-lg">
                <p>Le laboratoire de photographie, également connu sous le nom de classe d’art, est l'un des quatre principaux
            laboratoires de la Blackwell Academy. M. Jefferson tient ses conférences dans cette salle, y compris un
            cours intitulé "Le langage de la photographie". Il est bien équipé avec du matériel de photographie de haute
            technologie et de la littérature. C'est probablement aussi utilisé pour d'autres cours d'art.</p>


             </div>
        </div>

        <h3>Le laboratoire d’art dramatique</h3>

        <div class="text-center">

            <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/classes/theatre/salle_theatre.png" alt="salle_theatre" />
            <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/classes/theatre/coulisses.png" alt="coulisses.png" />

        </div>

        <p>Le laboratoire d’art dramatique est situé au rez-de-chaussée de la Blackwell Academy, juste à côté du
            laboratoire de photographie. Il se compose d'une salle plus grande servant de salle de théâtre et d'une
            salle plus petite en tant que coulisse.</p>

        <h3>La piscine</h3>

        <div class="row">
            <div class="col-lg">
                <img loading="lazy" class="rounded widthBase" src="./images/visite/academie/piscine.png" alt="piscine" />
            </div>
            <div class="col-lg">
                <p>La piscine Blackwell Academy est une dépendance située sur le campus de Blackwell. C'est le domicile de
                    l'équipe de natation, les Blackwell Otters . Les heures d'ouverture de la piscine sont du lundi au vendredi,
                    de 6h à 7h.</p>
                <p>Le bâtiment dispose de vestiaires masculins et féminins, de douches et de toilettes. Il y a aussi un bureau
                  pour l'entraîneur, affichant la propagande des Otters.</p>
            </div>
        </div>


        <h3>Prescott dormitories</h3>

        

        <h3>Couloirs du dortoir</h3>

         <div class="row">
            <div class="col-lg">
                <img loading="lazy" class="rounded widthBase" src="./images/visite/dortoirs/prescott_dormitories.png" alt="prescott_dormitories" />
            </div>
            <div class="col-lg">
                <p>Le dortoir de Prescott est le nom du dortoir de la Blackwell Academy. Il appartient à la famille de Nathan
                    Prescott, ayant été généreusement offert en 1998. Dans le même bâtiment, il y a des espaces de vie séparés
                    pour les étudiants masculins et féminins.</p>   
            </div>
        </div>

        <h3>Les chambres</h3>

   <div class="row">
        <div class="col-lg">
            <img loading="lazy" class="rounded widthBase" src="./images/visite/dortoirs/chambres.png" alt="chambres" />   
        </div>
        <div class="col-lg">
            <p>Les chambres des dortoirs sont meublées avec un lit confortable et un bureau, 
                les élèves peuvent emménager et décorer les chambres comme ils le souhaitent.</p>
        </div>
    </div>

    </section>

    {% include ('modele/foot.html.twig') %}

</body>

{% endblock %}